$white: theme('colors.white');
$milk: theme('colors.milk');
$black: theme('colors.black');
$magenta: theme('colors.magenta');
$blue: theme('colors.blue');
$blue2:theme('colors.blue2');
$blue4: theme('colors.blue4');
$grey-black: theme('colors.greyBlack');
$grey-dark: theme('colors.greyDark');
$grey-medium: theme('colors.greyMedium');
$grey-light: theme('colors.greyLight');
$grey-white: theme('colors.greyWhite');
$grey-snow: theme('colors.greySwow');
$grey-text: theme('colors.greyText');
$grey-lighter: theme('colors.greyLighter');
$green-light: theme('colors.greenLight');
$green: theme('colors.green');
$green-dark: theme('colors.greenDark');
$orange: theme('colors.orange');
$orange-dark: theme('colors.orangeDark');
$orange-light: theme('colors.orangeLight');
$error:theme('colors.error');
$blue2: theme('colors.blue2');
$blue3: theme('colors.blue3');
$blue4: theme('colors.blue4');
$blue5: theme('colors.blue5');
$blue6: theme('colors.blue6');
$yellow: theme('colors.yellow');

$grey-border: $grey-white;

$backgroundLightPrimary: theme('colors.backgroundLightPrimary');
$backroundLightSeptenary: theme('colors.backroundLightSeptenary');
$textLightPrimary: $backgroundLightPrimary;
$brand-secondary-light-max: theme('colors.brandSecondaryLightMax');
$brand-secondary-normal: theme('colors.brandSecondaryNormal');

$floorplanBg: $backroundLightSeptenary;
$floorplanCounter: #6b7280;
$floorplanCategory: #94959f;
$floorplanActiveBtnBg: #eef1f4;
$floorplanAboutText: #646572;