@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-pulse {
    animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: .3;
    }
  }